# Datasets
**/data_high/
**/data_low/
**/sliced_640_dataset/
**/sliced_data/
**/data/
**/annotations/

# Model weights
*.pt
*.pth
*.onnx

# Training outputs
**/runs/
results.csv
*.jpg
*.png

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db